<!-- <h1>Hello World</h1> -->

<!-- sample component check by uncomment it -->
<!-- <app-student></app-student> -->

<!-- interpolation check by uncomment it  -->
<!-- <app-test></app-test> -->

<!-- property binding example check by uncomment it  -->
<!-- <app-property-binding-example></app-property-binding-example> -->

<!--class binding check by uncomment it  -->
<!-- <app-class-binding-example></app-class-binding-example> -->

<!--style binding check by uncomment it  -->
<app-style-binding-example></app-style-binding-example>

<router-outlet></router-outlet>
