<!-- <h1>Hello World</h1> -->

<!-- sample component check by uncomment it -->
<!-- <app-student></app-student> -->

<!-- interpolation check by uncomment it  -->
<!-- <app-test></app-test> -->

<!-- property binding example check by uncomment it  -->
<!-- <app-property-binding-example></app-property-binding-example> -->

<!--class binding check by uncomment it  -->
<!-- <app-class-binding-example></app-class-binding-example> -->

<!--style binding check by uncomment it  -->
<!-- <app-style-binding-example></app-style-binding-example>-->

<!-- event binding example -->
<!-- <app-event-binding></app-event-binding> -->

<!-- template ref variables -->
<!-- <app-template-reference-var></app-template-reference-var> -->

<!-- two way data binding ex. -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<!-- ngIf directive example -->
<!-- <app-ng-if-directive-example></app-ng-if-directive-example> -->

<!-- ngSwitch Example -->
<!-- <app-ng-switch-example></app-ng-switch-example> -->

<!-- ngFor example -->
<!-- <app-ng-for-directive-example></app-ng-for-directive-example> -->

<!-- component interaction example: from parent to child and child to parent (app component child-component) -->
<app-child-component
  (toParent)="receivedData($event)"
  [fromParent]="messageFromParent"
></app-child-component>

<h1>child -- {{ receiveddata }}</h1>

<router-outlet></router-outlet>
