<div class="my-background box">
  <h2>Sign up</h2>
  <form>
    <div class="form-group inputBox">
      <label>Username: </label>
      <input type="text" class="form-control" placeholder="Enter Username" required />
    </div>
    <div class="form-group inputBox">
      <label>Password: </label>
      <input type="password" placeholder="Enter Password" class="form-control" required />
    </div>
    <div class="form-group inputBox">
      <label>Confirm password: </label>
      <input type="password" placeholder="Enter Password" class="form-control" required />
    </div>
    <input type="submit" name="submit" value="Register" />
  </form>
</div>
