<div class="my-background box">
  <h2>Sign up</h2>
  <form [formGroup]="registrationForm">
    <div class="form-group inputBox">
      <label>Username: </label>
      <input type="text" class="form-control" formControlName="userName" placeholder="Enter Username" required />
    </div>
    <div class="form-group inputBox">
      <label>Password: </label>
      <input type="password" formControlName="password" placeholder="Enter Password" class="form-control" required />
    </div>
    <div class="form-group inputBox">
      <label>Confirm password: </label>
      <input type="password" formControlName="confirmPassword" placeholder="Enter Password" class="form-control" required />
    </div>
    <input type="submit" name="submit" value="Register" />
  </form>

  <div style="color: white; padding: 30px;">
    {{registrationForm.value | json}}
  </div>
</div>
